<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hnzx.hnrb">



    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 音频权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--适配三星S8-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1344" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5abf3753f43e486d510001c1" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- 腾讯云多渠道打包 -->
        <meta-data android:name="channel" android:value="test"/>

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".jpush.JPushReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.hnzx.hnrb" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"

            android:enabled="true"
            tools:node="replace">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!--Required	 	 显示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional	-->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <!-- 欢迎页 -->
        <activity
            android:name=".ui.WelcomeActivity"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <!--协议部分，随便设置-->
                <data android:scheme="hnrbapp
"/>
                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>

            </intent-filter>
        </activity>
        <!-- 引导页 -->
        <activity
            android:name=".ui.GuideActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- 新闻详情页 -->
        <activity
            android:name=".ui.news.NewsDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <!-- 评论列表页 -->
        <activity
            android:name=".ui.news.CommentActivity"
            android:screenOrientation="portrait" />
        <!-- 领导相关页 -->
        <activity
            android:name=".ui.government.governmentbox.LeaderAboutActivity"
            android:screenOrientation="portrait" />
        <!-- web展示页 -->
        <activity
            android:name=".ui.web.WebActivity"
            android:screenOrientation="portrait" />
        <!-- 新闻详情查看大图页 -->
        <activity
            android:name=".ui.news.NewsScanBigImageActivity"
            android:screenOrientation="portrait" />
        <!-- 频道整理 -->
        <activity
            android:name=".ui.news.ChannelActivity"
            android:screenOrientation="portrait" />
        <!-- 组图详情 -->
        <activity
            android:name=".ui.audio.ImageActivity"
            android:screenOrientation="portrait" />
        <!-- 话题详情 -->
        <activity
            android:name=".ui.interact.TopicDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <!-- 活动详情 -->
        <activity
            android:name=".ui.interact.ActiveActivity"
            android:screenOrientation="portrait" />
        <!-- 投票详情 -->
        <activity
            android:name=".ui.interact.VoteActivity"
            android:screenOrientation="portrait" />
        <!-- 图片直播 -->
        <activity
            android:name=".ui.live.ImageLiveActivity"
            android:screenOrientation="portrait" />
        <!-- 新闻24小时列表 -->
        <activity
            android:name=".ui.leftsidebar.News24HoursActivity"
            android:screenOrientation="portrait" />
        <!-- 热文推送列表 -->
        <activity
            android:name=".ui.leftsidebar.PushHotNewsActivity"
            android:screenOrientation="portrait" />
        <!-- Top 10新闻列表 -->
        <activity
            android:name=".ui.leftsidebar.Top10NewsActivity"
            android:screenOrientation="portrait" />
        <!-- 做侧边栏栏目详情 -->
        <activity
            android:name=".ui.leftsidebar.ColumnActivity"
            android:screenOrientation="portrait" />
        <!-- 做侧边栏栏目列表 -->
        <activity
            android:name=".ui.leftsidebar.ColumnListActivity"
            android:screenOrientation="portrait" />
        <!-- 机构列表 -->
        <activity
            android:name=".ui.government.square.GovernmentListActivity"
            android:screenOrientation="portrait" />
        <!-- 高层动态 -->
        <activity
            android:name=".ui.news.HighDynamicActivity"
            android:screenOrientation="portrait" />
        <!-- 新闻专题 -->
        <activity
            android:name=".ui.news.SubjectActivity"
            android:screenOrientation="portrait" />
        <!-- 专题子栏目列表页 -->
        <activity
            android:name=".ui.news.SubjectItemListActivity"
            android:screenOrientation="portrait" />
        <!-- 记者详情 -->
        <activity
            android:name=".ui.news.ReporterDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 机构详情 -->
        <activity
            android:name=".ui.government.square.UnitDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 视频直播 -->
        <activity
            android:name=".ui.live.VideoLiveActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <!-- 直播发布 -->
        <activity
            android:name=".ui.live.PublishActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 视频详情 -->
        <activity
            android:name=".ui.audio.VideoDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- 登录注册 -->
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait" />
        <!-- 修改密码 -->
        <activity
            android:name=".ui.me.ModifyPwdActivity"
            android:screenOrientation="portrait" />
        <!-- 找回密码 -->
        <activity
            android:name=".ui.me.FindPwdActivity"
            android:screenOrientation="portrait" />
        <!-- 修改绑定手机 -->
        <activity
            android:name=".ui.me.ModifyMobileActivity"
            android:screenOrientation="portrait" />
        <!--绑定手机号-->
        <activity
            android:name=".ui.me.BindMobileActivity"
            android:screenOrientation="portrait" />
        <!-- 修改昵称 -->
        <activity
            android:name=".ui.me.ModifyNickActivity"
            android:screenOrientation="portrait" />
        <!-- 关于 -->
        <activity
            android:name=".ui.me.AboutActivity"
            android:screenOrientation="portrait" />
        <!-- 个人信息 -->
        <activity
            android:name=".ui.me.PersonInfoActivity"
            android:screenOrientation="portrait" />
        <!-- 反馈信息 -->
        <activity
            android:name=".ui.me.FeedBackActivity"
            android:screenOrientation="portrait" />
        <!-- 设置页面 -->
        <activity
            android:name=".ui.me.SettingActivity"
            android:screenOrientation="portrait" />
        <!-- 图片选择 -->
        <activity
            android:name=".view.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!-- 图片裁剪 -->
        <activity
            android:name=".view.crop.CropImageActivity"
            android:screenOrientation="portrait" />
        <!-- 用户任务 -->
        <activity
            android:name=".ui.me.UserTaskActivity"
            android:screenOrientation="portrait" />
        <!-- 我的阅历 -->
        <activity
            android:name=".ui.me.UserScanActivity"
            android:screenOrientation="portrait" />
        <!-- 我的签到 -->
        <activity
            android:name=".ui.me.UserSignActivity"
            android:screenOrientation="portrait" />
        <!-- 搜索 -->
        <activity
            android:name=".ui.SearchActivity"
            android:screenOrientation="portrait" />
        <!-- 搜索结果 -->
        <activity
            android:name=".ui.SearchResultActivity"
            android:screenOrientation="portrait" />
        <!-- 我参与的活动 -->
        <activity
            android:name=".ui.me.MyActivityActivity"
            android:screenOrientation="portrait" />
        <!-- 我的消息列表 -->
        <activity
            android:name=".ui.me.MyMessageActivity"
            android:screenOrientation="portrait" />
        <!-- 我参与的活动列表 -->
        <activity
            android:name=".ui.me.MyCollectActivity"
            android:screenOrientation="portrait" />
        <!-- 扫描二维码 -->
        <activity
            android:name=".twocode.CaptureActivity"
            android:screenOrientation="portrait" />
        <!-- 话题评论页 -->
        <activity
            android:name=".ui.interact.TopicCommentActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!--话题评论回复列表页-->
        <activity
            android:name=".ui.interact.TopicCommentReplyListActivity"
            android:screenOrientation="portrait" />
        <!--评论回复列表页-->
        <activity
            android:name=".ui.news.CommentReplyListActivity"
            android:screenOrientation="portrait" />
        <!--直播讨论回复列表页-->
        <activity
            android:name=".ui.live.LiveDiscussReplyListActivity"
            android:screenOrientation="portrait" />

        <!-- 分享微博 -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--微博Web授权时，需要注册授权界面-->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <!-- 分享微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 分享QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105124967" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name=".ui.audio.MusicService" />

        <activity android:name=".ui.live.VideoFullScreenActivity" />



    </application>

</manifest>